@model IEnumerable<az_snappers_ui_mvc.Models.Property>

@{
    ViewData["Title"] = "Index";
    //Layout = "~/Views/Property/Property.cshtml";
}

<h1>List of House You have been Visiting</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <!--<th>-->
                @*@Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Zipcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.area)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)*@
           @* </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Zipcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.area)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                @Html.ActionLink("Details", "Details", "Property",new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
